.places{
  max-width: 984px;
  margin: 0 auto;
  padding: 92px 0;
}
@media (max-width: 768px){
  .places{
    width: 90%;
    padding: 88px 0 90px;
  }
}
@media (max-width: 425px){
  .places{
    width: 100%;
    padding: 64px 0 66px;
  }
}
