.places{
  max-width:  1184px;
  margin: 0 auto;
  padding: 92px 0;
  width: 90%;
  display: grid;
  justify-content: center;
}
@media (max-width: 1023px){
  .places{
    padding: 88px 0 90px;
  }
}
@media (max-width: 767px){
  .places{
    width: 100%;
    padding: 64px 0 66px;
  }
}
