.intro__text {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  padding: 40px 20% 33px 100px;
  margin: 0;
}
@media (max-width: 1024px) {
  .intro__text {
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .intro__text {
    padding: 40px 0 33px;
  }
}
