.lead__caption{
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  width: 100%;
  max-width: 984px;
  margin: 0 auto;
  text-align: left;
}
@media (max-width: 768px){
  .lead__caption{
    width: 90%;
    margin: 0 auto;
  }
}
