.place{
  display: grid;
  column-gap: 48px;
  row-gap: 40px;
  grid-template-columns: repeat(2, 45%);
}
@media (max-width: 768px){
  .place{
    column-gap: 20px;
  }
}

@media (max-width: 425px){
  .place{
    grid-template-columns: 100%;
  }
}

